.page {
	margin: 40px auto;
	border: 2px solid black;
	border-radius: 15px;
	background-color: white;
	overflow: hidden;
	width: 1000px;


body {
  margin: 0;
  font-family:  Comic sans, Arial, Helvetica, sans-serif;
}
